<div class="p-2 bg-white rounded-3xl md:w-4/5">
  <h2 class="mx-8 my-4">Available Flights</h2>
  <h3 class="mx-8 my-2 font-light">Select a booking:</h3>

  <%= form_with url: new_booking_path, method: "get", local: true do |form| %>
    <div class="flex flex-col p-2 place-content-center">
      <% flights.each do |flight| %>

        <div class="py-1 mx-8">
          <%= form.radio_button :flight, flight.id %>
          <%= form.label :flight, 
            "#{flight.departure_airport.code} to #{flight.arrival_airport.code} | #{flight.fmt_time_display} | #{flight.duration / 60} hour, #{flight.duration % 60} minutes", 
            class: "font-mono font-normal pl-2"
          %>
        </div>

      <% end %>

      <div class="pt-2 mx-8 my-6">
        <%= form.label :number_passengers, "How Many Passengers?" %>
        <%= form.select :number_passengers, [1,2,3,4] %>
      </div>

      <div class="py-2 mx-8">
        <%= form.button("Continue") %>
      </div>

    </div>
  <% end %>
</div>
