<!DOCTYPE html>
<html>
  <head>
    <title>OdinFlightBooker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="h-screen bg-purple-50">
    <div class="hidden p-4 md:block"></div>
    <main class="container pb-12 mx-auto">
      <%= yield %>
    </main>
    <footer class="fixed bottom-0 left-0 right-0 text-center bg-white">
      <h4 class="p-4 text-sm text-gray-600">2021 TGT</h4>
    </footer>
  </body>
</html>
